

h1 {
    text-align:center;
    font-size: 16px;
    font-style: normal;
    color:black;
}
.hbar1 {
    display: inline;
    margin: 15px;
}

.category {
    margin-top: 80px;
}

.form_div{
    padding-left: 10px;
    margin-left: 10px;
}