{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="{% static "MainStyle.css" %}"/>
</head>
<body>
    <div style="text-align: center"><img src="{% static "logo.png" %}" width="500" /></div>
    	<h1>Welcome to LifeSport Store!!</h1>
    	<h2>This is the other item for you</h2>

        <div>
        <hr>
         <nav id="navbar">
             <a href = "/">Home</a> | <a href="/about"> About</a> | <a href="/myaccount">My Account</a> | <a href="/purchase">Purchase Online</a>
         </nav>
        </div>

<div class="row">

  <div class="column" >
    <ol type="I">
        <div class="item-group">
            <li>Football</li>
            <li>Hand grip</li>
            <li>Rope</li>
            <li>Mat</li>
            <li>Towel</li>
        </div>
    </ol>
  </div>
</div>
</body>
</html>
