{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="{% static "MainStyle.css" %}"/>
</head>
<body>
    <div style="text-align: center"><img src="{% static "logo.png" %}" width="500" /></div>
    	<h1>Welcome to LifeSport Store!!</h1>
    	<h2>Product Details page</h2>
    	<h3 class="myh3">A smaller heading</h3>

        <div>
        <hr>
         <nav id="navbar">
             <a href = "/">Home</a> | <a href="/about"> About</a> | <a href="/myaccount">My Account</a> | <a href="/purchase">Purchase Online</a>
         </nav>
        </div>
<div>
<h3>Price - $30</h3>

<table>
  <tr>
    <th>SIZE</th>
    <th>COLOR</th>

  </tr>
  <tr>
    <td>S</td>
      <td>Red</td>

  </tr>
  <tr>
    <td>M</td>
    <td>Blue</td>

  </tr>
    <tr>
    <td>L</td>
        <td>Green</td>

  </tr>
    <tr>
    <td>XL</td>
        <td>Yellow</td>

  </tr>
</table>

</div>
</body>
</html>