<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Store App</title>
</head>
<body>
{% extends 'myapp/base.html' %}
{% block body_block %}
    <h2><span class="badge badge-secondary"; >This is an Online Store App</span></h2>
<div class="jumbotron">

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    <h2>No of visits : {{ about_visits }}</h2>
    </div>
 </div>


</div>



{# <p><a href="/myapp/">Index page (hard coded)</a></p>#}
{#<a href="{% url 'myapp:index'  %}">Index Page (using URL Namesapcing)</a>#}
{% endblock %}



</body>
</html>