<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if warehouse_loc %}
{#    <h2>Location of the warehouse</h2>#}
    <h2> Location of the warehouse : {{ warehouse_loc }} </h2>

        <h2>List of Products</h2>
        {% for product in prod_list %}
            <ul>
            <li>{{ product }}</li>
            </ul>
        {% endfor %}
    <a href="{% url 'myapp:index'  %}">Index Page (using URL Namesapcing)</a>



{% else %}
    <strong>There are no available categories!</strong>
{% endif %}

</body>
</html>