<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'myapp/base.html' %}
{% block body_block %}
        <h2>{{ last_login }}</h2>
    {% if cat_list %}
    <h2>List of Categories</h2>
    <ol>
        {% for cat  in cat_list %}
            <li> {{ cat.name}} </li>
        {% endfor %}
    </ol>
{% else %}
    <strong>There are no available categories!</strong>
{% endif %}

{# <p><a href="/myapp/about">About page (hard coded)</a></p>#}
{#<a href="{% url 'myapp:about'  %}">About Page (using URL Namesapcing)</a>#}
{% endblock %}


</body>
</html>