{% extends 'myapp/base.html' %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block body_block %}
    {% if product %}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Product Name :
                    <span class="badge badge-primary badge-pill">{{ product.name }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    People Interested :
                    <span class="badge badge-primary badge-pill">{{ product.interested }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Product Price :
                    <span class="badge badge-primary badge-pill">{{ product.price }}</span>
                </li>
            </ul>
    {% else %}
        <strong>This prodcut is not available!</strong>
    {% endif %}
    <div class="container mt-2 mb-2 border">
        <form action="/myapp/order_interest_response/{{ product.id }}/" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" class="btn btn-primary mb-1">
        </form>
    </div>
    <a href="{% url 'myapp:place order' %}" class="btn btn-info mt-2" role="button">I want to order this</a>
{% endblock %}

</html>