<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'myapp/base.html' %}
{% block body_block %}
    {% if prodlist %}
    <h2>List of Products</h2>

        {% for product  in prodlist %}
            <a href="/myapp/productdetail/{{ product.id }}"> <p> {{ product.id }}.   {{  product.name}} </p></a>
        {% endfor %}

{% else %}
    <strong>There are no available products!</strong>
{% endif %}

{# <p><a href="/myapp/about">About page (hard coded)</a></p>#}
<a href="{% url 'myapp:place order'  %}">Place Order Page</a>
{% endblock %}

</body>
</html>