{% extends 'myapp/base.html' %}
<body>
{% block body_block %}
    {% if prodlist %}
        <h2>List of Products</h2>

        {% for product  in prodlist %}
            <ul class="list-group">
                <li class="list-group-item"><a
                        href="/myapp/productdetail/{{ product.id }}">{{ product.id }}. {{ product.name }}</a></li>
            </ul>

        {% endfor %}
        <a href="{% url 'myapp:place order' %}" class="btn btn-primary btn-lg btn-block" role="button">Place your orders
            here</a>
    {% else %}
        <strong>There are no available products!</strong>
    {% endif %}


    {# <p><a href="/myapp/about">About page (hard coded)</a></p>#}

{% endblock %}

</body>
</html>